.todo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px 10px;
  box-shadow: 0 0 10px -2px rgba(0,0,0,0.5);

  .content{
    display: flex;
    flex-direction: column;
    span{
      font-size: 12px;
      margin-bottom: 10px;
    }
    p{
      margin: 0;
      color: #1a1a1a;
    }
  }
}